In [8]:
import pandas as pd

In [2]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
my_text = ["Follow the Moskva , down to Gorky park","I I follow , I follow you","Fly me to the moon"]

In [4]:
tf_idf = TfidfVectorizer()

In [5]:
tfidf_matrix = tf_idf.fit_transform(my_text)

In [6]:
print(tfidf_matrix.shape)

(3, 11)

In [7]:
tf_idf.get_feature_names()

['down',
 'fly',
 'follow',
 'gorky',
 'me',
 'moon',
 'moskva',
 'park',
 'the',
 'to',
 'you']

In [11]:
words = tf_idf.get_feature_names()
data =tfidf_matrix.toarray()
df = pd.DataFrame(data,columns=words)

In [12]:
df

,down,fly,follow,gorky,me,moon,moskva,park,the,to,you
0,0.417567,0.000000,0.317570,0.417567,0.000000,0.000000,0.417567,0.417567,0.317570,0.317570,0.000000
1,0.000000,0.000000,0.835592,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.549351
2,0.000000,0.490479,0.000000,0.000000,0.490479,0.490479,0.000000,0.000000,0.373022,0.373022,0.000000

In [13]:
count = CountVectorizer()

In [14]:
count_matrix = count.fit_transform(my_text)

In [15]:
print(count_matrix.shape)

(3, 11)

In [16]:
count.get_feature_names()

['down',
 'fly',
 'follow',
 'gorky',
 'me',
 'moon',
 'moskva',
 'park',
 'the',
 'to',
 'you']

In [17]:
words = count.get_feature_names()
data =count_matrix.toarray()
df = pd.DataFrame(data,columns=words)

In [18]:
df

   down  fly  follow  gorky  me  moon  moskva  park  the  to  you
0     1    0       1      1   0     0       1     1    1   1    0
1     0    0       2      0   0     0       0     0    0   0    1
2     0    1       0      0   1     1       0     0    1   1    0